.messages-container {
    background-color: var(--darker-background);
    border-top: 1px solid var(--lighter-background);
    border-left: 1px solid var(--lighter-background);
    width: 28rem;
    height: 28rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.center-popups {
    display: flex;
    position: fixed;
    width: 0;
    left: 50%;
    top: 0;
    justify-content: center;
    z-index: 10000;
}

.popups {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30rem;
    gap: 0.2rem;
    padding-top: 0.2rem;
    min-width: 0;
}

.messages-container .messages {
    display: flex;
    flex-direction: column;
    background-color: var(--darkest-background);
    height: calc(100% - 0.8rem);
    overflow: auto;
    padding: 0.4rem 0;
    gap: 0.4rem;
}

.messages-container .buttons {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--lighter-background);
    padding: 0.4rem;
}

.indicator {
    position: fixed;
    right: 1.4rem;
    bottom: 1.4rem;
    border: 1px solid var(--yellow-light-background);
    background-color: var(--yellow-dark-background);
    color: var(--yellow-light-background);
    padding: 0.8rem;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}

@media (max-width: 640px) {
    .messages-container  {
        width: 100%;
    }
}
