body {
    color: var(--dark-text);
    background: var(--darkest-background);
    font-family: var(--font);
    font-size: 16px;
    width: 100%;
    height: 100%;
}
th, td, button, label, a, input, select, textarea {
    color: var(--dark-text);
    font-size: 16px;
    border: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration-color: var(--primary-color-light);
}
a:hover {
    color: var(--primary-color-light);
}
hr {
    border-top: 1px solid var(--lightest-background);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;
}
button,
button:hover,
button:active,
button:focus {
    outline: none;
}
input[type=text],
input[type=search],
input[type=password],
input[type=number],
input[type=url],
textarea {
    background-color: var(--medium-background);
    border: 1px solid var(--medium-background);
    border-radius: var(--border-radius);
    padding: 10px;
    outline: none;
    max-width: 100%;
    min-width: 0;
}
input[type=number] {
    padding: 5px;
}
input[type=text]:hover,
input[type=search]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=url]:hover,
textarea:hover {
    background-color: var(--light-background);
    color: var(--lighter-text);
    border: 1px solid var(--lightest-background);
}
input[type=text]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=url]:focus,
textarea:focus {
    background-color: var(--darker-background);
    color: var(--lightest-text);
    border: 1px solid var(--primary-color-light);
}
input[type=text]:disabled,
input[type=search]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
input[type=url]:disabled,
textarea:disabled {
    background-color: var(--dark-background);
    border: 1px solid var(--dark-background);
}
button,
input[type=submit] {
    background-color: var(--medium-background);
    border: 1px solid var(--medium-background);
    border-radius: var(--border-radius);
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background-color: var(--light-background);
    color: var(--lightest-text);
    border: 1px solid var(--lightest-background);
    cursor: pointer;
}
button:active,
input[type=submit]:active {
    background-color: var(--dark-background);
    color: var(--lighter-text);
    border: 1px solid var(--lightest-background)
}
/* Select Forms */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    display: block;
    outline: none;

    background-color: var(--medium-background);
    border: 1px solid var(--medium-background);
    padding: 5px;
}
select:hover {
    background-color: var(--light-background);
    color: var(--lighter-text);
    border: 1px solid var(--lightest-background);
}
select:focus {
    background-color: var(--dark-background);
    color: var(--lighter-text);
    border: 1px solid var(--primary-color-light);
}
/* Checkboxes */
input[type="checkbox"] {
    display: none !important;
}
input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
}
input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: relative;
    left: -2px;
    background-color: var(--medium-background);
    width: 12px;
    height: 12px;
    border: 1px solid var(--primary-color-light);
    border-radius: var(--border-radius);
}
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: 1px solid var(--lightest-text);
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
}
input[type="checkbox"] + label:hover::before {
    background-color: var(--lighter-background);
}
/* Sliders (range input) */
input[type=range] {
    height: 16px;
    background-color: transparent;
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: none;
    background: var(--darkest-background);
    border-radius: var(--border-radius);
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 10px;
    width: 25px;
    border-radius: var(--border-radius);
    background: var(--primary-color-light);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--darkest-background);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: none;
    background: var(--darkest-background);
    border-radius: var(--border-radius);
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 10px;
    width: 25px;
    border-radius: var(--border-radius);
    background: var(--primary-color-light);
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--darkest-background);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: var(--darkest-background);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: none;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: none;
    border: none;
    height: 10px;
    width: 25px;
    border-radius: var(--border-radius);
    background: var(--primary-color-light);
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--darkest-background);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--darkest-background);
}
